.logo{
    margin-top:50px;
    padding-top:50px;
}
.nav-link{
    color:white !important;
}
.bigText{
    color: #15365e;
    font-size:60px;
    text-align:center;
    font-family: "brandon-grotesque", sans-serif;
    padding-top:10px;
}
.h2Text{
    color: #15365e;
    text-align:center;
    font-family: "brandon-grotesque", sans-serif;
}
.dateRow{
    margin-top:20px;
    padding-top:20px;
}
.firstPage{
    padding-top:25px;
}
.jumbotron{
    margin-bottom:0px !important;
    margin-right:0px !important;
    margin-left:0px !important;
}
.container-fluid{
    padding-top:10px;
}
.detailsText{
    text-align:center;
}
#peddieBlueAndGold{/** storing these here in case we decide to use them**/
    background-color: #cc9800;

    background-color: #153256;
}

.headerText{
    color: #cc9800;
    font-size: 40px;
    font-family: "brandon-grotesque", sans-serif;
    margin-top:20px;
}
.bodyText{
    color: #15365e;
    font-size: 30px;
    margin-left:30px;
    font-family: "brandon-grotesque", sans-serif;
}

.imageDesc{
    color: #15365e;
    font-size: 20px;
    font-family: "brandon-grotesque", sans-serif;
}
.sponsors{
    text-align:center;
}
.jumbotronTitleBackground {
    background-image: url("./assets/techBackground1.jpg");
    background-size: cover;
}
.jumbotronTextBackground {
    background-image: url("./assets/techBackground.jpg");
    background-size: cover;
}
.large{
    font-size: 70px;
    font-weight:900;
    color:white;
}
.sponsorsLink{
    color: #15365e;
    font-weight:bold;
    text-decoration: underline;
}
.sponsorsLink:hover {
    
    background-color: lightblue; 
  }
.largeTitle{
    font-size: 70px;
    font-weight:900;
    color:white;
}
.textAlignment{
    text-align:center;
    justify-content:center;
}
.faq{
    text-align:center;
}
.details{
    text-align:center;
}
.bodyTextfaq{
    color: #15365e;
    font-size: 20px;
    margin-left:30px;
    font-family: "brandon-grotesque", sans-serif;
}
.sponsorsText{
    color: #15365e;
    font-size: 50px;
    font-weight: 900;
    font-family: "brandon-grotesque", sans-serif;
    margin-bottom:70px;
    
    text-decoration: underline;
}
@media(min-width:558px){
    .picture{
        justify-content: center; 
        width: 100%; 
        height:100px!important;
        margin-bottom:40px;
    }
}

@media (max-width:762px){
    .largeTitle{
        font-size:34px;
    }
    .headerText{
        font-size:25px;
    }
    .bodyText{
        font-size:15px;
    }
}
@media(max-width:558px){
    .picture{
        height:auto;
        width:100%;
        margin-bottom:40px;
    }    
}
@media(min-width:768px){
    .picture{
        height:180px;
    }
}
@media(min-width:992px){
    .picture{
        height:160px;
    }
}
@media(min-width:1200px){
    .picture{
        height:130px;
    }
}

