.logo{
    margin-top:50px;
    padding-top:50px;
}
.nav-link{
    color:black !important;
}
.bigText{
    font-size:70px;
    text-align:center;
    font-family:serif;
}
.h2Text{
    text-align:center;
    font-family:serif;
}
.dateRow{
    margin-top:20px;
    padding-top:20px;
}
.firstPage{
    padding-top:25px;
}
.detailsText{
    text-align:center;
}