.logo{
    margin-top:50px;
    padding-top:50px;
}
.nav-link{
    color:black !important;
}
.bigText{
    font-size:70px;
    text-align:center;
    font-family:serif;
    padding-top:10px;
}
.h2Text{
    text-align:center;
    font-family:serif;
}
.dateRow{
    margin-top:20px;
    padding-top:20px;
}
.firstPage{
    padding-top:25px;
}
.jumbotron{
    padding: 0px 0px 0px 0px important!;
    margin: 0px 0px 0px 0px important!;

}
.detailsText{
    text-align:center;
}
#peddieBlueAndGold{/** storing these here in case we decide to use them**/
    background-color: #cc9800;

    background-color: #153256;
}

.headerText{
    color: #cc9800;
    font-size: 40px;
    font-family: "brandon-grotesque", sans-serif;
    margin-top:20px;
}
.bodyText{
    color: #15365e;
    font-size: 30px;
    margin-left:30px;
    font-family: "brandon-grotesque", sans-serif;
}

.imageDesc{
    color: #15365e;
    font-size: 20px;
    font-family: "brandon-grotesque", sans-serif;
}
.sponsors{
    text-align:center;
}
.jumbotronTitleBackground {
    background-image: url("./assets/purple.jpg");
    background-size: cover;
}
.jumbotronTextBackground {
    background-image: url("./assets/techBackground.jpg");
    background-size: cover;
}
.large{
    font-size: 70px;
    font-weight:900;
    color:white;
}
.textAlignment{
    text-align:center;
    justify-content:center;
}
.faq{
    text-align:center;
}
.details{
    text-align:center;
}
.bodyTextfaq{
    color: #15365e;
    font-size: 20px;
    margin-left:30px;
    font-family: "brandon-grotesque", sans-serif;
}
