.nav-link{
    color:white !important;
}
.Details{
    text-align:center;
}
.jumbotron {
    background-image: url("./assets/techBackground1.jpg");
    background-size: cover;
}
.large{
    font-size: 70px;
    font-weight:900;
    color:gold;
}
.fonts{
  font-family:georgia;
}
@media (max-width:992px){
    .prize{
        font-size:25px;
    }
}