.sponsors{
    text-align:center;
}
.jumbotronTitleBackground {
    background-image: url("./assets/purple.jpg");
    background-size: cover;
}
.jumbotronTextBackground {
    background-image: url("./assets/techBackground.jpg");
    background-size: cover;
}
.large{
    font-size: 70px;
    font-weight:900;
    color:white;
}
.picture{
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}
.headerText h2{
    color: #153256;
    font-family: "brandon-grotesque", sans-serif;
}