.sponsors{
    text-align:center;
}
.jumbotron {
    background-image: url("./assets/purple.jpg");
    background-size: cover;
}
.large{
    font-size: 70px;
    font-weight:900;
    color:white;
}
.picture{
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}